<?xml version="1.0"?>
<config>
    <modules>
        <Warema_MysqlFix>
            <version>0.1.0</version>
        </Warema_MysqlFix>
    </modules>
    <global>
        <models>
            <warema_mysqlfix>
                <class>Warema_MysqlFix_Model</class>
            </warema_mysqlfix>
            <install>
                <rewrite>
                    <installer_db_mysql4>Warema_MysqlFix_Model_Installer_Db_Mysql4</installer_db_mysql4>
                </rewrite>
            </install>
        </models>
    </global>
</config>